@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    margin: 0 auto;
    overflow-x: hidden;
}

html {
    @apply scroll-smooth;
}


body {
    position:relative;

}

* {
    max-width: 100%!important;
}

.falling-items {
    display: inline-block;
    left: 100%; /* Partenza dalla destra */
    /* z-index: -1; */
    /* animation: falling-items 5s ease-in infinite; */
    animation: falling-items 10s linear infinite;
    animation-fill-mode: both;
}

/* in desktop, set animation duration longer */
@media (min-width: 768px) {
    .falling-items {
        animation: falling-items 20s linear infinite;
    }
}

@media (min-width: 1024px) {
    .falling-items {
        animation: falling-items 30s linear infinite;
    }
}

@keyframes falling-items {
    from {
        left: 150%;
        rotate : -180deg;
    }

    to {
        left: -50%; /* Arrivo sulla sinistra */
        rotate : 180deg;
    }
}

.falling-items-container {
    white-space: nowrap;
    font-size: 0; /* VABBÈ DIVENTA INUTILE IL COSO MA VA BENE */
  }
  
/* 
.falling-items-container::before {
    content: '';
    position: absolute;
    top: 3.5rem;
    left: 0;
    width: 100%;
    height: 55vh;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
    pointer-events: none;
  } */
  
div.react-dropdown {
    @apply w-fit shadow-none select-text outline-none border transition-colors duration-75 bg-transparent;
}

div.react-dropdown *:not(:hover,.react-dropdown-item-selected) {
    @apply text-gray-600 hover:text-gray-700;
}

div.react-dropdown:hover {
    @apply border-gray-200;
}

div.react-dropdown:focus {
    @apply shadow-none;
}

div.react-dropdown-handle * {
    @apply fill-gray-300;
}

div.react-dropdown *.react-dropdown-item-selected {
    @apply text-gray-800;
}